# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-strong-password
POSTGRES_DB=portfolio_db
DATABASE_URL=postgres://postgres:change-me-strong-password@db:5432/portfolio_db

JWT_SECRET=change-me-long-random-secret
PORT=3001

SEED_ADMIN_EMAIL=admin@toanho.dev
SEED_ADMIN_PASSWORD=change-me-strong-admin-password

# BO (Next.js public env)
NEXT_PUBLIC_API_URL=https://api.toanhodev.com
