@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
}

@source "../../../packages/ui/src/**/*.{ts,tsx}";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
}
